@font-face {
  font-family: 'iconfont';
  src: url('../icons/iconfont.woff') format('woff'),
       url('../icons/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}