@font-face {
  font-family: 'wandou-icon';
  src: url('./icons/ytw-search.woff') format('woff'),
       url('./icons/ytw-search.ttf') format('truetype');
}

.iconfont{
  font-family: "wandou-icon" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}