@font-face {
  font-family: 'wandou';
  src:url('../../icons/zt/iconfont.woff') format('woff'),
      url('../../icons/zt/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "wandou" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}