border_1px($border-width = 1px,$border-style = solid,$border-color = black,$border-radius = 0){
  position: relative;
  &::after{
    content: "\0020";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    pointer-events: none;
    overflow:hidden
    border-width: $border-width;
    border-style: $border-style;
    border-color: $border-color;
    @media screen and (-webkit-max-device-pixel-ratio:1.49){
      width: 100%;
      height: 100%;
      if $border-radius != 0 {
        border-radius: $border-radius;
      }
    }
    @media screen and (-webkit-min-device-pixel-ratio:1.5) and (-webkit-max-device-pixel-ratio:2.49){
      width: 200%;
      height: 200%;
      transform: scale(0.5);
      if $border-radius != 0 {
        border-radius: $border-radius * 2;
      }
    }
    @media screen and (-webkit-min-device-pixel-ratio:2.5){
      width: 300%;
      height: 300%;
      transform: scale(0.333333);
      if $border-radius != 0 {
        border-radius: $border-radius * 3;
      }
    }
    transform-origin: 0 0;
  }
}
